.-animate-fade-in {
  animation-duration: 0.5s;
  animation-name: animate-fade-in;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade-in {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}