/* Variables and mixins declared here will be available in all other SCSS files */
/* Colors */
$color-yellow: #f7da00;
$color-gold: #a39000;
$color-blue: #78b0ba;
$color-teal: #4c8994;
$color-coffee: #342e37;
$color-sand-100: #c9c7ba;
$color-sand-200: #c0beaf;
$color-sand-300: #b7b5a4;
$color-sand-400: #adab99;
$color-sand-500: #938f79;
$color-white: #fff;
$color-grey: #808080;

/* Skill colors */
$color-angular: #dd1b16;
$color-css: #2965f1;
$color-html: #e44d26;
$color-java: #f89820;
$color-javascript: #f0db4f;
$color-swiftui: #0171e3;
$color-svelte: #ff3e00;
$color-sveltekit: #ff3e00;
$color-typescript: #007acc;

/* Fonts */
$font-family: 'Fira Code', 'Fira Code Fallback', sans-serif;
$font-size: 0.8rem;

/* Time */
$transition-duration: 350ms;

/* Sizes */
$header-height: 4rem;
$footer-height: 4rem;

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

