@import '/src/styles/markdown';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-coffee;
  min-height: 100vh;
  font-family: $font-family;
  color: $color-white;
  font-size: $font-size;
}

/* Defaults */
a {
  text-decoration: none;
  color: $color-blue;
  transition: .2s;

  &:hover {
    color: $color-yellow;
  }

  &:active {
    color: $color-gold;
  }
}

ul,ol {
  list-style: none;
}

@media (min-width: $md-breakpoint) {
  .g-container {
    max-width: $md-breakpoint;
  }
}