* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-coffee;
  min-height: 100vh;
  font-family: $font-family;
  color: $color-white;
}

/* Defaults */
a {
  text-decoration: none;
  color: $color-blue;
  transition: .2s;

  &:hover {
    color: $color-yellow;
  }

  &:active {
    color: $color-gold;
  }
}

ul {
  list-style: none;
}

@media (min-width: $md-breakpoint) {
  .g-container {
    max-width: $md-breakpoint;
  }
}

/* markdown sections */
.md-wrapper {
  p {
    margin-bottom: 1rem;
  }

  h1,h2,h3,h4 {
    color: $color-sand-100;
  }

  ul {
    margin-bottom: 1rem;
    
    & > li::before {
      content: '> ';
      color: $color-yellow;
    }
  }
}