@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/FiraCode-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('/fonts/FiraCode-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: url('/fonts/FiraCode-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url('/fonts/FiraCode-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url('/fonts/FiraCode-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code Fallback';
  descent-override: 30%;
  size-adjust: 108%;
  ascent-override: 90%;
  src: local('Arial');
}

/* 100 – Thin.
200 – Extra Light (Ultra Light)
300 – Light.
400 – Normal.
500 – Medium.
600 – Semi Bold (Demi Bold)
700 – Bold.
800 – Extra Bold (Ultra Bold) */