/* Variables and mixins declared here will be available in all other SCSS files */
/* Colors */
$color-yellow: #F7DA00;
$color-gold: #A39000;
$color-blue: #78B0BA;
$color-teal: #4C8994;
$color-coffee: #342E37;
$color-sand-100: #C9C7BA;
$color-sand-200: #C0BEAF;
$color-sand-300: #B7B5A4;
$color-sand-400: #ADAB99;
$color-sand-500: #938F79;
$color-white: #FFF;

/* Skill colors */
$color-angular: #DD1B16;
$color-css: #2965F1;
$color-html: #E44D26;
$color-java: #F89820;
$color-javascript: #F0DB4F;
$color-swiftui: #0171E3;
$color-svelte: #FF3E00;
$color-sveltekit: #FF3E00;
$color-typescript: #007ACC;

/* Fonts */
$font-family: 'Fira Code', 'Fira Code Fallback', sans-serif;

/* Time */
$transition-duration: 350ms;

/* Sizes */
$header-height: 4rem;
$footer-height: 4rem;

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;